APP_NAME=Maktoobe
APP_ENV=testing
APP_KEY=
APP_DEBUG=false
APP_URL=http://127.0.0.1:8000
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3307
DB_DATABASE=maktoobe_test
DB_USERNAME=maktoobe_test
DB_PASSWORD=
DB_URL=
CACHE_STORE=array
SESSION_DRIVER=array
QUEUE_CONNECTION=sync
MAIL_MAILER=array
AUTH_MAIL_DRIVER=local
SMS_DRIVER=local
LOG_CHANNEL=single
BCRYPT_ROUNDS=4
