APP_NAME=Maktoobe
APP_ENV=browser
APP_KEY=
APP_DEBUG=false
APP_URL=http://127.0.0.1:8001
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3307
DB_DATABASE=maktoobe_browser
DB_USERNAME=maktoobe_browser
DB_PASSWORD=
DB_URL=
CACHE_STORE=database
SESSION_DRIVER=database
SESSION_ENCRYPT=true
QUEUE_CONNECTION=database
MAIL_MAILER=array
AUTH_MAIL_DRIVER=local
SMS_DRIVER=local
LOG_CHANNEL=single
LOG_LEVEL=info
BCRYPT_ROUNDS=4
